page-start-visit {
    .date{
        color: gray;
        font-style: italic;
        text-align: center;
        margin: 20px !important;
    }

    .txtHour{
        font-size: 20px;
    }

    .hour{
        color: #2dc2da;
        font-weight: 600;
        font-size: 20px;
    }
}
