page-resume {
    .date{
        color: gray;
        font-style: italic;
        text-align: center;
        margin: 20px !important;
    }

    .empresa{
        text-align: center;
        margin-top: -15px;
        color: #3a3a3a;
    }

    .nameTime{
        color: gray;
    }

    .valueTime{
        font-size: 25px;
        color: #2dc2da;
    }

    .puntos{
        font-size: 20px;
        margin: 0px;
    }
}
