page-calendar {
    .monthview-selected[_ngcontent-c1]{
        background-color: #1dc1a9;
    }

    .monthview-primary-with-event[_ngcontent-c1]{
        background-color: #3f3f3f;
    }

    .padding{
        padding: 10px;
    }
}
