page-signature {
    signature-pad {
        canvas {
          border: dashed 1px #cccccc;
          width: 100%;
        }
      }

      .signatureImage{
        border: dashed 1px #cccccc;
        width: 100%;
      }
}
