page-visit {
    .txt{
        color: #505050;
        font-size: 18px;
    }

    .nom{
        font-size: 13px;
    }

    .btn{
        font-size: 17px;
    }

    .date{
        color: gray;
        font-style: italic;
        text-align: center;
        margin: 20px !important;
    }
}
